spring:
  application:
    name: GreetingService
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/greet?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Rosilyjimmy@12
  jpa:
      hibernate:
        ddl-auto: update
      database-platform: org.hibernate.dialect.MySQLDialect
      show-sql: false
      properties:
        hibernate:
            format_sql: false
server:
  port: 8080